# git ignore file
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
[Oo]bj/
[Bb]in/
*.user
target/
*.suo
*.cache
*.bak
packages/
msbuild.log
_Resharper*/
*.sln.DotSettings
