@model ChallengeBoard.Infrastucture.PageHeader
<div class="page-header row no-space">
    <div class="span10 no-space">
        <h1>@Html.DisplayFor(m => m.Heading)</h1>
    </div>
    <div class="span2 subhead">
        <h2>
            <small>@Html.DisplayFor(m => m.SubHeading)</small>
        </h2>
    </div>
</div>
@if (ViewBag.StatusMessage != null)
{
    <div class="alert alert-info">
        <a class="close" data-dismiss="alert">&times;</a>
        @ViewBag.StatusMessage
    </div>
}