@model ModelStateDictionary

@if(!Model.IsValid)
{
    <div class="alert alert-info">
        <a class="close" data-dismiss="alert">&times;</a>
        <strong>Looks like we've got a problem here:</strong>
        <ul>
            @foreach (var modelError in Model.SelectMany(keyValuePair => keyValuePair.Value.Errors))
            {
                if (modelError.ErrorMessage != string.Empty)
                {
                    <li>@modelError.ErrorMessage</li>
                }
            }

            @if (Model.ContainsKey("PoliteCaptcha") && Model["PoliteCaptcha"].Errors.Count > 0)
            {
                <li>You must pass a captcha check.</li>
            }
        </ul>
    </div>
}