@model ChallengeBoard.Email.Models.PasswordRecovery
<!DOCTYPE html>

<html>
<head>
    <title>The Challenge Board: Match Notiication</title>
    <style>
        p { margin-bottom: 20px;}
    </style>
</head>
<body>
    <p>
        Hello @Model.UserName,
    </p>
    <p>
        Somebody has requested that your password be reset.
    </p>
    <p>
        If this is a mistake, just ignore this email.
    </p>
    <p>
        To reset your password, please visit the following link:
    </p>
    <p>
        <a href="@Model.RecoveryLink">@Model.RecoveryLink</a>
    </p>
    <p>
        Thanks,<br/>
        The Challenge Board
    </p>
</body>
</html>