@model ChallengeBoard.Models.Board

@{
    ViewBag.Title = "Standings";
}
@Html.Partial("_HeaderPartial", new ChallengeBoard.Infrastucture.PageHeader(Model.Name, "Standings"))
@Html.Partial("_BoardNav", Model)
<section id="Standings">
    @Html.Partial("_StandingsPartial", Model.Competitors)
</section>
@section Scripts {
    @Scripts.Render("~/bundles/components")
    <script type="text/javascript">
        $(function() {
            $(".sortedTable").tablesorter({
                sortList: [[8, 1]],
                sortInitialOrder: 'desc'
            });
        });
    </script>
}