@{
    ViewBag.Title = "The Challenge Board";
}
@section featured {
    <section>
        <div class="hero-unit">
            <hgroup>
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                This is an open source ELO challenge ladder.  The goal is to create a site where people can come together 
                for a little friendly competition.  We're currently in alpha, so expect some issues here and there.  Feel free 
                to check out the <a href="https://trello.com/board/challenge-board/50e88cfdcba7353c10002706" target="_blank">Trello Board</a> 
                to see what we're working on.
            </p>
            <p>
                If you're interested in lending a hand, drop me a line.  Source code is available on 
                <a href="http://www.github.com">GitHub</a>.
            </p>
        </div>
    </section>
}
